@import './../../../../styles/variables';

.container{
  @include container;
  margin-top: 20px;
  flex-direction: column;
};

.general{
  display: flex;
  flex-direction: row;
  .picture{

  }
  .info{
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .item{
      display: flex;
      width: 100%;
      margin-top: 10px;
      font-size: 18px;
      .genres{
        display: flex;
        flex-direction: row;
        .genre{
          margin: 0 5px;
        }
      }
      .mapItem{
        margin: 0 5px;
      }
      .video_button{
        padding: 10px 20px;
        background: $headerBgColor;
        color: $headerFontColor;
        border-radius: 15px;
        @include fontReg;
        border: none;
      }
    }
  }
}

.cast{
  display: flex;
  flex-direction: column;
  .actorsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .actor{
      margin: 10px 10px;
      display: flex;
      flex-direction: column;
      img{
        width: 200px;
        height: 300px;
      }
      .actor_name{
        padding: 0;
        margin: 0;
        width: 200px;
      }
      .actor_char{
        padding: 10px 0;
        margin: 0;
        width: 200px;

      }
    }
  }
}
.screenshots{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .image{
    margin-top: 20px;
  }
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: rgba(0,0,0, 0.7);
  .close_modal{
    position: absolute;
    right: 35px;
    top: 15px;
    background: transparent;
    border: none;
    font-size: 40px;
    color: #b9b9b9;
    text-shadow: 2px 2px grey;
  }
  .modal_content{
    z-index: 2;
    margin: 10% auto 0 auto ;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  .action{
    .btn{
      margin-left: 20px;
      width: 50px;
      height: 50px;
      background: $headerBgColor;
      color: $headerFontColor;
      font-size: 12px;
      border-radius: 50%;
      @include fontReg;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon{
        position: relative;
        top: 0;
        right: 0;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    .btn_active{
      margin-left: 20px;
      width: 50px;
      height: 50px;
      background: #d356a2;
      font-size: 12px;
      border-radius: 50%;
      @include fontReg;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon{
        position: relative;
        top: 0;
        right: 0;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    .popup{
      width: 200px;
      height: 50px;
      position: absolute;
      background: #dedede;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &_text{
        @include fontLight;
        font-size: 18px;
        background-color: #bfbfbf;
        z-index: 15;
      }
      &_playlists{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 20px  ;
        background-color: #bfbfbf;
        width: 250px;
      }
    }
    .rate{
      width: 600px;
      height: 70px;
      position: absolute;
      background: #dedede;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .range{
        width: 80%;
      }
      .hashmarks{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        option{

        }
      }
      .star{
        width: 30px;
        height: 30px;
        margin: 0 4px;
        &:hover{
          color: #2d2d2d;
        }
      }
    }
  }

}
