@import './../../../../styles/variables';

.container{
  @include container;
  margin-top: 20px;
  flex-direction: column;
};

.general{
  display: flex;
  flex-direction: row;
  .picture{

  }
  .info{
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .item{
      display: flex;
      width: 100%;
      margin-top: 10px;
      font-size: 18px;
      .item_title{
        max-width: 100%;
      }
      .genres{
        display: flex;
        flex-direction: row;
        .genre{
          margin: 0 5px;
        }
      }
      &_desc{
        display: flex;
        flex-direction: column;
      }
      .mapItem{
        margin: 0 5px;
      }
      .video_button{
        padding: 10px 20px;
        background: $headerBgColor;
        color: $headerFontColor;
        border-radius: 15px;
        @include fontReg;
        border: none;
      }
    }
  }
}

.cast{
  display: flex;
  flex-direction: column;
  .actorsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .actor{
      margin: 10px 10px;
      display: flex;
      flex-direction: column;
      img{
        width: 200px;
        height: 300px;
      }
      .actor_name{
        padding: 0;
        margin: 0;
        width: 200px;
      }
      .actor_char{
        padding: 10px 0;
        margin: 0;
        width: 200px;

      }
    }
  }
}
.screenshots{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .image{
    margin-top: 20px;
    &:hover{
      cursor:pointer
    }
  }
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: rgba(0,0,0, 0.7);
  z-index: 20;
  .close_modal{
    position: absolute;
    right: 35px;
    top: 15px;
    background: transparent;
    border: none;
    font-size: 40px;
    color: #b9b9b9;
    text-shadow: 2px 2px grey;
  }
  .modal_content{
    z-index: 25;
    margin: 10% auto 0 auto ;
  }
}
.full_image{
  z-index:1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.7);
  &_content{
    display: block;
    z-index: 20;
    margin: 5% auto 5% auto  ;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  .action{
    .btn{
      margin-left: 20px;
      width: 50px;
      height: 50px;
      background: $headerBgColor;
      color: $headerFontColor;
      font-size: 12px;
      border-radius: 50%;
      @include fontReg;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon{
        position: relative;
        top: 0;
        right: 0;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    .btn_active{
      margin-left: 20px;
      width: 50px;
      height: 50px;
      background: #d356a2;
      font-size: 12px;
      border-radius: 50%;
      @include fontReg;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon{
        position: relative;
        top: 0;
        right: 0;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    .popup{
      width: 200px;
      height: 50px;
      position: absolute;
      background: #dedede;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &_btn{
        @include fontLight;
        font-size: 18px;
        background-color: #bfbfbf;
        z-index: 10;
        border-radius: 20px;
        border: none;
        padding: 5px 10px;
        &:hover{
          border: 1px solid grey;
          background-color: #7c7c7c;
          color: #f2f2f2;
        }
      }
      &_playlists{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 20px  ;
        background-color: #bfbfbf;
        width: 250px;
      }
    }
    .rate{
      width: 400px;
      height: 90px;
      position: absolute;
      background: #dedede;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .slider{
        margin-top: 30px;
        width: 80%;
        opacity: 0.7;
        &:hover{
          opacity: 1;
        }
        &::-webkit-slider-thumb{
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          cursor: pointer;
          background: #4CAF50;
        }
      }
      .rating_actions{
        display: flex;
        align-items: center;
        .value{
          margin-right: 20px;
          width: 20px;
          text-align: center;
        }
        .value_submit_btn{
          @include fontLight;
          border: none;
          background-color: #bfbfbf;
          padding: 5px 10px;
          border-radius: 15px;
        }
      }
    }
  }

  .playlists_btn_popup{
    width: 250px;
    background-color: #dedede;
    max-height: 40vh;
    position: absolute;
    flex-direction: column;
    display: flex;
    overflow: scroll;
    &_text{
      @include fontLight;
      font-size: 18px;
      z-index: 10;
      align-self: center;
    }
    &_playlists{
      display: flex;
      flex-direction: column;
    }
  }
}
