@import './../../../styles/variables';

.container{
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pageTitle{
  margin-left: 30px;
  text-transform: uppercase;
  @include fontReg;
  font-size: 32px;
}

.itemsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .item{
    margin: 10px 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .itemInfo{
      display: flex;
      flex-direction: row;
      align-items: center;
      span{
        padding: 0 10px;
      }
    }
    .itemTitle{
      margin: 5px 0;
       word-wrap: break-word ;
      padding-left: 10px;
     }
    .genres{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .genre{
        margin: 0 5px;
        ::after{
          content: " ";
        }
      }
    }
  }
}
.genre {
  margin: 0 5px;
}

