@import "../../styles/variables";

.container{
  @include container;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo{
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}

.menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  .item{
    width: 120px;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    &:hover{
      background: #4c4c4c;
      opacity: 0.6;
    }
    .link{
      color: $headerFontColor;
      text-decoration: none;
    }
  }
}



.search{
  margin: 0 30px 0 30px;
  width: 233px;
  .searchicon{
    width: 20px;
    height: 20px;
  }
  .results{
    z-index:10;
    list-style: none;
    position: absolute;
    background: #2d2d2d;
    width: inherit;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-height: 40vh;
    overflow: scroll;
    .result{
      padding: 10px;
      border-bottom: 1px solid #f2f2f2 ;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      color: $headerFontColor;
      text-decoration: none;
      @include fontLight;
      .result_img{
        height: 60px;
        width: 40px;
      }
      .result_name{
        margin-left: 20px;
      }
    }
  }
}
.login{
  &_link{
    text-decoration: none;
    color: #f2f2f2;
    background-color: #4c4c4c;
    padding: 5px 20px;
    border-radius: 15px;
    &:hover{
      background-color: #606060;

    }
  }
}
.user{
  .userImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.verticalMenu{
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 50px ;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: $headerMenuColor;
  .verticalItem{
    text-decoration: none;
    color: $headerFontColor;
    @include fontLight;
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    &:hover{
      background: #2d2d2d;
    }
  }
}

.auth_section{
  display: flex;
  width: 100%;
  align-items: center;
  .acc_link{
    margin: 0 20px;
    .avatar{
      border-radius: 50%;
      border: 1px solid grey;
    }
  }
  .btn_container{
    margin: 20px;
    .btn{
      padding: 0 10px;
      border-radius: 15px;
      background: #d3d3d3;
      border: 1px solid grey;
      @include fontLight;
      font-size: 16px;
      color: #606060;
      cursor: pointer ;
      &:hover{
        background: #2d2d2d;
        color: #f2f2f2;
      }
    }
  }
}

.searchbar{
  display: flex;
  align-items: center;
  .searchfield{
    padding: 5px ;
    font-size: 18px;
  }
}
