@import "../../styles/variables";

.container{
  @include container;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo{
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}

.menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  .item{
    margin: 0 20px 0 20px;
    .link{
      color: $headerFontColor;
      text-decoration: none;
    }
  }
}
.search{
  margin: 0 30px 0 30px;
}

.user{
  .userImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}