@import 'styles/variables';

*{margin: 0;
padding: 0;
box-sizing: border-box;}

.app{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: $headerBgColor;
  color: $headerFontColor;
  height: 8vh;
  @include fontLight;
}