@import 'styles/variables';

*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{
  height: 100%;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: $headerBgColor;
  color: $headerFontColor;
  height: 8vh;
  @include fontLight;
}
.main{
  min-height:100%;
}
.footer{
  margin-top: auto;
}